@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {}

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer";
    font-family: "Arial";
    cursor: url(../img/cursor.cur), default;
}

a {
    cursor: url(../img/cursor1.cur), default;
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    grid-area: header;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0
}

main {
    grid-area: content;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    background-color: #ededf5;
}

.foot {
    background-color: #ededf5
}

.topline {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: #1f1f56;
    padding: 15px 0 15px;
}

.top {
    padding: 80px 0 29px;
}

.menu {
    gap: 26px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
    color: #b1b1d2;
    list-style: none;
}

.menu>li>a:hover {
    transition: all .9s ease;
    color: #fd8300;
}

.number {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
}

.number:hover {
    color: #fd8300;
    transition: all .5s ease;
    text-decoration: underline;
}

.number>img {
    margin-right: 11px;
}

.number1 {
    margin-left: 28px;
}

.skype {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: none;
    color: #25252c;
}

.skype:hover {
    color: #fd8300;
    transition: all .5s ease;
}

.skype>img {
    margin-right: 11px;
}

.mail {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
}

.mail:hover {
    color: #fd8300;
    transition: all .5s ease;
}

.mail>img {
    margin-right: 11px;
}

.button {
    border-radius: 25px;
    border-width: 2px;
    background-color: #fff;
    border: 2px solid #fd8300;
    padding: 15px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but a {
    color: #666;
    text-decoration: none;
    transition: all 0.3s ease;
}

.but a:hover {
    background-color: #1f1f56;
    color: #fd8300;
}

.cottages {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.cottages th {
    background-color: #1d2a5c;
    color: #fff;
    padding: 12px;
}

.cottages td {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    color: #666;
}

.cottages tr:hover td {
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
}

.time {

    font-size: 13px;
    line-height: 1.6em;
    color: #666;
}


.main_text h2 {
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-top: 59px;
}

.main_text {
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
}

.special {
    display: flex;
    justify-content: center;
}

.price {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
}

.metter {
    font-size: 24px;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    padding-bottom: 40px;
}

.main_image>sup {
    font-size: 20px;
    color: #fd8300;
}

sup {
    font-size: 10px;
}

.padding {
    padding-top: 23px;
    padding-bottom: 47px;
}

h3 {
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding: 31px 0 25px;
}

h1 {
    font-family: "Roboto Slab";
    padding: 0px 0 28px;
}

.first {
    padding-bottom: 20px;
}

.detail {
    font-size: 14px;
    line-height: 1.7em;
    text-decoration: none;
    color: #25252c;
    font-weight: bold;
}

.detail:hover {
    color: #fd8300;
    transition: all .5s ease;
    text-decoration: underline;
}

.more {
    padding: 25px 0 34px;
}

hr {
    border: none;
    border: 1px solid #e4e4ec;
}

.build h3 {
    color: #1f1f56;
}

figcaption h3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}

.text {
    max-width: 220px;
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
}

.description {
    max-width: 677px;
    font-size: 14px;
    line-height: 1.7em;
    color: #666;

}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    min-width: 219px;
    font-size: 14px;
    line-height: 1.7em;
    list-style: none;
    text-decoration: none;
}

.sidebars a {
    color: #666;
}

.sidebar li>a:hover {
    color: #fd8300;
    transition: all .5s ease;
    list-style: none;
    text-decoration: none;
}


.contacts {
    font-size: 14px;
    line-height: 1.8em;
    color: #666;
    list-style: none;
}

.contacts a {
    transition: all .5s ease;
    text-decoration: none;
    color: #666;
}

.contacts a:hover {
    color: #fd8300;
}


path {
    fill: #fff;
}

.icon-link:hover path {
    fill: #fd8300;
    transition: all .5s ease;
}

.second>h2 {
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    padding: 13px 15px;
    border-radius: 2px 2px 0 0;
}

.asside a {
    display: block;
    padding: 16px 25px 14px 15px;
    font-size: 14px;
    line-height: 1.7em;
    color: #25252c;

    position: relative;

}

.sidemenu {
    display: none;
    background-color: #e4e4ec;
}

.sidemenu a {
    background-color: #e4e4ec;
}

.sidemenu li>a:hover {
    color: #666;
    background-color: #cecedd;
    transition: all 1s ease;
}

.sidemenu li:hover {
    background-color: #cecedd;
    transition: all 1s ease;

}

.asside {
    background-color: #e4e4ec;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.asside>li {
    border-bottom: 1px solid #cecedd;
    background-color: #e4e4ec;

}

.asside>li:last-child {
    border-bottom: none;

}

.asside>li>a:hover {
    display: block;
    transition: all .5s ease;

}

.asside li:hover .sidemenu {
    display: block;
    box-shadow: inset 0px -1px 0px #cecedd;
}

.asside>li>a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    transform: translateY(-50%) rotate(45deg);

}

.asside li:hover>a::before {
    transform: translateY(-50%) rotate(135deg);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.asside>li:hover>a {
    background-color: #fd8300;
    color: #fff;
}

.sibemenu a::before {
    content: none;

}

figcaption h4 {
    position: relative;
    color: #1f1f56;
    transition: color .5s ease;
}

figcaption h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1f1f56;
    transition: .5s ease;
}

h4 {
    color: #1f1f56;
}

h4 a :hover {
    color: #1f1f56;
}

figcaption h4:hover::before {
    width: 100%;
}

figure picture img {
    width: 100%;
    height: auto;
    transition: .5s ease;
}

figure:hover picture img {
    transform: scale(1.05);
}

.build p {
    color: #9999a6;
}

.copy {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    text-align: center;
    background-color: #dcdce6;
    padding: 15px;
}

.column {
    column-gap: 24px;
}

.items_center {
    align-items: center;
}

.skype_mail {
    padding: 36px 51px;
}

.text_mail {
    padding: 41px 12px;
}

.icon_phone {
    padding: 33px 11px;
}

.phone_number {
    padding: 36px 11px;
}

.words {
    padding: 12px 0 16px;
}

.sidebars {
    font-size: 14px;
    line-height: 1.8em;
    color: #666;
}

.sidebars a {
    transition: all .5s ease;
    text-decoration: none;

}

.sidebars a:hover {
    color: #fd8300;
}


figure p {
    font-size: 13px;
    line-height: 1.4em;
    color: #9999a6;
}

.bottom {
    padding: 41px 0;
}

.pose {
    position: sticky;
    top: 60px;
}

figure {
    max-width: 220px;
}

figcaption picture {
    width: 100%;
}

figcaption {
    position: relative;
}

figcaption a {
    position: absolute;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.2px;
    }
}

@media screen and (min-width: 2200px) {}